<h1> test sign in here </h1>

<form method="post" action="/login">
<label for="email">Email:</label>
<input type="text" name="email" value=<%=@article.title%>> </p>
    <h2> Content:</h2>
    <p><input id="content" type="text" name="content"value=<%=@article.content%>> </p>
    <input type="submit" value="submit">
</form>