<h1>Please Log In Below:</h1>

<form action="/login" method="post">
Email: <input type="text" name="email" placeholder="Email:"> 
Password: <input type="password" name="password" placeholder="Password:">
<input type="submit" value="submit">
<form>
<br>
<br>
<h3><a href="/">Back to Homepage</a></h3>