<h1> Edit Your Profile Here: </h1>

<form action="/users" method="POST">                                     
<input id="hidden" type="hidden" name="_method" value="PATCH">
    Name: 
    <input type="text" name="name" value="<%=current_user.name%>">	 
<br>
<br>
    Email: 
	<input type="text" name="email" value="<%= current_user.email%>">
<br>
<br>
<input type="submit" id="submit" value="submit">
</form>