<h1>Welcome to Your Dashboard <%=current_user.name%>!</h1>
<br>
<br>
 <div class="sidebar">
    <h2>Game Stats</h2>
      <ul>
        <li><b>Games Played: </b><%=current_user.games.count  %></li>
        <li><b>Game Most Played: </b><%=@freq_game%> (Played <%=@frequency%>x)</li>
        <li><b>Average Number of Turns for This Game: </b> </li>
      </ul>
  </div>
<br>
<h2><a href="/games">See All Your Games Here</a></h2>
<br>
<br>
<h2><a href="/games/new">Start a New Game Here</a></h2>
<br>
<br>
<h2><a href="/users/edit">Edit Your Profile</a></h2>                       
<br>
<br>
<h4><a href="/logout">Log out of Your Profile</a></h4>
