<h1>Hi <%=current_user.name%>!

<h2> Here is a list of all Your Games <h2>
<%current_user.games.each do |game|%>

<h3>  <a href="/games/<%=game.id%>">  <%=game.name%> </a></h3> <h4>Start Date: <%=game.gamedate.strftime("%m-%d-%Y")%>   </h4>

<%end%> 

 <br><br>

 <h2> Start a New Game Here:</h2>

<a href="/games/new">Create New Game</a>
 <br><br>

<h2> To Edit your Profile:</h2>

<a href="/users/edit">Edit Profile</a>                       
 <br><br>


 <h2> Log out of Your Profile:</h2>

<a href="/logout">Log Out</a>
 <br><br>


<h2> To Delete Your Profile:</h2>

<form method="POST" action="/users">                  
     <input type="hidden" name="_method" value="DELETE">
 	 <input type="submit" value="Delete User">
</form>

</body>