<h1> Edit Your Turn Result Here: </h1>

<!--<form action="/users/<%=@user.id%>" method="POST">              need to correct route    -->
<input id="hidden" type="hidden" name="_method" value="PATCH">
    Result: 
    <input type="integer" name="result">	 
<br>
<br>

<input type="submit" id="submit" value="submit">
</form>