<h1>What is the Title of Your New Game?</h1>

 <form method="POST" action='/games'>
    <h2><label>Game Title:</label></h2> <br>
    <select name="name">
        <option>Catan</option>
        <option>Monopoly</option>
        <option>Shoots and Ladders</option>
        <option>Mouse Trap</option>
    </select>
    <br><br>


    <input type="submit" value="submit" id="submit">
  </form>

  <br>

  <h2> Change Your Mind?</h2>
  <br>
<h3>  <a href="/games">Back to Your Games</a> </h3>
<br>
