div class="container"
  header 
    img src="images/catan2018.png" class="img-responsive main-image"
  div class="col-md-8 col-md-offset-2"
    h1 Welcome to Catan Stats!
    div class="content"
      h2
        a href='/signup' Sign Up
      br
      br
      h2
        a href='/login' Log In