<div class="container">
  <header><img src="images/games.jpeg" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h1>Welcome to Catan Stats!</h1>
      <div class="content">
        <h2>
          <a href="/signup">Sign Up</a>
        <br>
        <br>
          <a href="/login">Log In</a>
        </h2>
    </div>
  </div>
</div>
